.color__wrapper {
  font-size: 0.75em;
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  
}

.color__placeholder {
  background: rgb(254, 176, 25);
  color: rgb(254, 176, 25);
  height: 28px;
  width: 28px;
  left: 0px;
  top: 0px;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 28px;
  display: inline-block;
  margin-right: 1rem;
}

.color__left {
  display: inline-flex;
  align-items: center;
}

.color__right {
  display: inline-flex;
  align-items: center;
  text-align: right;
}

.chart-list {
  width: 400px;
}

.header__total-tag {
  background: #F49342;
  width: auto;
  color: #fff;
  font-size: .875em;
  padding: 1px 8px;
  font-weight: 600;
  border-radius: 99px;
  margin-left: .5rem;
}